.form-group
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp01" ng-true-value="'JP-01'")
        |北海道
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp02" ng-true-value="'JP-02'")
        |青森県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp03" ng-true-value="'JP-03'")
        |岩手県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp04" ng-true-value="'JP-04'")
        |宮城県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp05" ng-true-value="'JP-05'")
        |秋田県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp06" ng-true-value="'JP-06'")
        |山形県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp07" ng-true-value="'JP-07'")
        |福島県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp08" ng-true-value="'JP-08'")
        |茨城県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp09" ng-true-value="'JP-09'")
        |栃木県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp10" ng-true-value="'JP-10'")
        |群馬県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp11" ng-true-value="'JP-11'")
        |埼玉県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp12" ng-true-value="'JP-12'")
        |千葉県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp13" ng-true-value="'JP-13'")
        |東京都
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp14" ng-true-value="'JP-14'")
        |神奈川県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp15" ng-true-value="'JP-15'")
        |新潟県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp16" ng-true-value="'JP-16'")
        |富山県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp17" ng-true-value="'JP-17'")
        |石川県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp18" ng-true-value="'JP-18'")
        |福井県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp19" ng-true-value="'JP-19'")
        |山梨県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp20" ng-true-value="'JP-20'")
        |長野県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp21" ng-true-value="'JP-21'")
        |岐阜県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp22" ng-true-value="'JP-22'")
        |静岡県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp23" ng-true-value="'JP-23'")
        |愛知県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp24" ng-true-value="'JP-24'")
        |三重県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp25" ng-true-value="'JP-25'")
        |滋賀県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp26" ng-true-value="'JP-26'")
        |京都府
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp27" ng-true-value="'JP-27'")
        |大阪府
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp28" ng-true-value="'JP-28'")
        |兵庫県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp29" ng-true-value="'JP-29'")
        |奈良県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp30" ng-true-value="'JP-30'")
        |和歌山県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp31" ng-true-value="'JP-31'")
        |鳥取県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp32" ng-true-value="'JP-32'")
        |島根県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp33" ng-true-value="'JP-33'")
        |岡山県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp34" ng-true-value="'JP-34'")
        |広島県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp35" ng-true-value="'JP-35'")
        |山口県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp36" ng-true-value="'JP-36'")
        |徳島県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp37" ng-true-value="'JP-37'")
        |香川県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp38" ng-true-value="'JP-38'")
        |愛媛県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp39" ng-true-value="'JP-39'")
        |高知県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp40" ng-true-value="'JP-40'")
        |福岡県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp41" ng-true-value="'JP-41'")
        |佐賀県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp42" ng-true-value="'JP-42'")
        |長崎県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp43" ng-true-value="'JP-43'")
        |熊本県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp44" ng-true-value="'JP-44'")
        |大分県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp45" ng-true-value="'JP-45'")
        |宮崎県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp46" ng-true-value="'JP-46'")
        |鹿児島県
    label.checkbox-inline
        input(type="checkbox" ng-model="query.prefecture.jp47" ng-true-value="'JP-47'")
        |沖縄県
