.container
    .col-lg-2
    .col-lg-8
        .well
            include ./search-form
        .list-group.stream-items
            include ./newer-loading.jade
            include ./post-form.jade
            include ./stream-items.jade
            include ./older-loading.jade
    .col-lg-2
