.form-group
    label.checkbox-inline
        input(type="checkbox", ng-model="query.sex.male" ng-true-value="'male'")
        |男性
    label.checkbox-inline
        input(type="checkbox", ng-model="query.sex.female" ng-true-value="'female'")
        |女性
